#idor_level_3 {
    text-align: center;
}

#infoSection {
    margin-top: 10px;
    font-size: 17px;
}

#loginSection,
#tokenSection {
    font-size: 15px;
    margin-top: 10px;
}

#loginBtn,
#fetchBtn {
    background: blueviolet;
    display: inline-block;
    padding: 8px 8px;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: 0.2s opacity;
    color: #FFF;
    font-size: 12px;
}

#tokenInput {
    width: 70%;
    padding: 5px;
    font-size: 12px;
}

#response {
    margin-top: 10px;
    font-size: 14px;
}

#hint {
    margin-top: 20px;
    font-size: 15px;
}