#LFI_level_1 {
    color: black;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
}

#verifyUrl {
    background: blueviolet;
    display: inline-block;
    padding: 4px 4px;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: 0.2s opacity;
    color: #FFF;
    font-size: 12px;
}