#ci_level_1 {
    color: black;
    text-align: center;
}

#pingUtilityResponse {
    font-size: 15px;
}

#pingUtility {
    display: flex;
    flex-direction: column;
}

#heading {
	font-size: 20px;
}

#input {
	font-size: 15px;
}

#pingBtn {
    background: blueviolet;
    display: inline-block;
    padding: 8px 8px;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: 0.2s opacity;
    color: #FFF;
    font-size: 12px;
}