#file_upload_level_1, #uploaded_file_info {
    font-size: 18px;
    color: black;
    text-align: center;
}

#file {
    display: inline-block;
    padding: 8px 8px;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: 0.2s opacity;
    font-size: 15px;
}

#upload {
    background: blueviolet;
    display: inline-block;
    padding: 8px 8px;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: 0.2s opacity;
    color: #FFF;
    font-size: 15px;
}