body, html { 
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-y: auto;
}

/** Navigation bar properties **/
.navbar {
    display: flex;
    min-height: 15%;
    height: 15%;
    align-items: center;
}

.navbar-item {
    flex: 1;
}

.navbar-brand {
    flex: 3;
    align-content: flex-start;
    font-size: 30px;
    color: black;
    margin-left: 20px;
    text-decoration: none;
}

.navbar-item-menu {
    flex: 1;
    font-size: 20px;
    align-items: center;
    color: burlywood;
    align-content: center;
}

div.navbar-item-menu a {
    text-decoration: none;
}

.active {
    color: black;
}

/** Navigation bar properties ended here. **/
/** It is not working for chooseMode so added !important. Might not be a correct way. Need to make it proper.*/
.hide-component {
    display: none !important;
}

.homeContainer {
    background: burlywood;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.aboutContainer {
    background: burlywood;
    font-size: 18px;
    flex-direction: column;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#testScanner {
    font-size: 18px;
    text-align: left;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
}

.chooseMode{
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

.chooseVulnerability {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.mode-item {
    flex: 1;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    padding: 0;
}

#learnAndPracticeBtn , #testScannerBtn, #vulnInformationBtn{
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 3px solid transparent;
    border-radius: 4px;
    transition: 0.2s opacity;
    background: black;
    color: #FFF;
    font-size: 18px;
}

#vulnPracticeBtn, #vulnLearnBtn {
    justify-items: left;
    display: inline-block;
    padding: 8px 8px;
    margin: 2px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: 0.2s opacity;
    background: black;
    color: #FFF;
    font-size: 12px;
}

.master {
    padding: 25px;
    border: none;
    box-sizing: border-box;
}

.hidden-md {
    display: inline;
}

.hidden-md-down {
    display: none;
}

.text-center {
    text-align: center;
}

/**
4cd4b0
*/
.master-item {
    font-size: 24px;
}

.inner-master-item {
    font-size: 18px;
}

.master-item,
.inner-master-item {
    border-bottom: 2px solid burlywood;
    padding: 10px;
}

.master-item:hover,
.master-item.active-item,
.inner-master-item:hover,
.inner-master-item.active-item {
    background: burlywood;
    font-weight: bold;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 50%;
    padding: 10% 30%;
    color: white;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: initial;
    white-space: nowrap;
    transform: translate(-51%, 135%);
    transition: all 100ms ease-in-out 50ms;
}

.tooltip-text:after {
    content: "";
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(-50%, 0);
    border-width: 7px;
    border-style: solid;
}

.tooltip:hover .tooltip-text:not(.tooltip-text:hover) {
    visibility: visible;
    opacity: 1;
}

.secure-variant-tooltip-text {
    background-color: #37a93c;
}

.secure-variant-tooltip-text:after {
    border-color: transparent transparent #37a93c transparent;
}

.unsecure-variant-tooltip-text {
    background-color: black;
}

.unsecure-variant-tooltip-text:after {
    border-color: transparent transparent black transparent;
}

.vector {
    transform: scale(0.82);
    margin-bottom: -6px;
    padding-right: 6px;
}

:not(.active-item).inner-master-item:hover .vector {
    transform: scale(0.9);
}

.secure-vulnerability {
    color: #37a93c;
}

/* For Phones */
[class*='col-'] {
    width: 100%;
    float: left;
}

.detail {
    padding: 25px;
    box-sizing: border-box;
    position: absolute;
    z-index: 11;
    color: black;
}

#vulnerabilityDescription {
    color: black;
    font-size: 18px;
    padding: 15px;
    text-align: left;
    margin-left: 25%;
}

#backBtn {
    color: black;
    border: 1px solid;
    background: white;
    border-radius: 5px;
    padding: 5px 10px;
    top: 0;
    left: 0;
}

#backBtn:hover {
    cursor: pointer;
    color: white;
}

#helpText {
    text-align: left;
    overflow-wrap: normal;
}

#showHelp, #hideHelp {
    background: blueviolet;
    display: inline-block;
    padding: 4px 4px;
    margin: 1px;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: 0.2s opacity;
    color: #FFF;
    font-size: 10px;
}

#pageContainer {
    background: burlywood;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#contribution {
    font-size: 20px;
    margin-left: 5%;
}

/**
 * Basic Animation for all the buttons in the VulnerableApp Application.
 */
button:active, input[type="button"]:active, input[type="submit"]:active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
}

@media only screen and (min-width: 786px) {
    .col-2 {
        width: 15%;
    }

    .col-3 {
        width: 25%;
    }
    
    .col-6 {
        width: 60%;
    }

    .detail {
        position: static;
    }

    .hidden-md {
        display: none;
    }

    .master {
        border-right: 3px solid burlywood;
    }

}