body, html { 
    height: 100%;
    overflow: auto;
}

/** Navigation bar properties **/
.navbar {
    display: flex;
    height: 15%;
    align-items: center;
}

.navbar-item {
    flex: 1;
}

.navbar-brand {
    flex: 4;
    align-content: flex-start;
    font-size: 30px;
    color: black;
    margin-left: 20px;
    text-decoration: none;
}

.navbar-item-menu {
    flex: 1;
    font-size: 20px;
    align-items: center;
    color: darkgrey;
    align-content: center;
}

div.navbar-item-menu a {
    text-decoration: none;
}

.active {
    color: black;
}

/** Navigation bar properties ended here. **/

.hide-component {
    display: none;
}


.container {
    background: darkgray;
    display: flex;
    min-height: 85%;
    flex-direction: column;
    text-align: center;
    overflow-y: auto;
}

.chooseMode, .header, .description{
    flex: 1;
    align-items: center;
}

.chooseMode {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

.mode-item {
    flex: 1;
}

#learnAndPracticeBtn , #testScannerBtn{
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 3px solid transparent;
    border-radius: 4px;
    transition: 0.2s opacity;
    background: black;
    color: #FFF;
    font-size: 18px;
}

.master {
    padding: 25px;
    border: none;
    box-sizing: border-box;
    height: 100%;
}

.hidden-md {
    display: inline;
}

.hidden-md-down {
    display: none;
}

.text-center {
    text-align: center;
}

/**
4cd4b0
*/
.master-item {
    font-size: 24px;
    border-bottom: 2px solid darkgray;
    padding: 10px;
}

.master-item:hover, .master-item.active-item{
    background: darkgray;
    color: white;
    cursor: pointer;
}

.inner-master-item {
    font-size: 18px;
    border-bottom: 2px solid darkgray;
    padding: 10px;
}

.inner-master-item:hover, .inner-master-item.active-item{
    background: darkgray;
    color: white;
    cursor: pointer;
}

/* For Phones */
[class*='col-'] {
    width: 100%;
    float: left;
}

.detail {
    padding: 25px;
    box-sizing: border-box;
    position: absolute;
    z-index: 11;
    color: black;
    height: 100%;
    background: white;
}

#vulnerabilityDescription {
    color: black;
    font-size: 18px;
    padding: 15px;
}


#vulnerabilityLevelDescription {
    color: black;
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
}

#backBtn {
    color: black;
    border: 1px solid darkgray;
    background: white;
    border-radius: 5px;
    padding: 5px 10px;
    top: 0;
    left: 0;
}

#backBtn:hover {
    cursor: pointer;
    color: white;
    background: darkgray;
}

@media only screen and (min-width: 786px) {
    .col-2 {
        width: 15%;
    }

    .col-3 {
        width: 25%;
    }
    
    .col-6 {
        width: 60%;
    }

    .detail {
        position: static;
    }

    .hidden-md {
        display: none;
    }

    .master {
        border-right: 3px solid darkgray;
    }

}