<div id="MetaTagBasedInjection">
	<div>
		Interaction between frontend and backend is done using Ajax calls and
		this generic structure applies everywhere across Owasp VulnerableApp.
		Because of that all the http status code or header based redirects
		doesn't work out of the box and hence we had not implemented it. 
		<br /> <br />
		For Vulnerability scanning tools this might not be an issue as
		scanning tools can work on Api calls but to illustrate this attack to
		students/security enthusiasts we have provided a way to do the same.
		Please Visit URL: <a id="placeholder"></a>
		<br /><br /> To think on why redirection using meta tag is required or in other words the usecase 
		of url redirection functionality, consider a website which is having a functionality to show the 
		progress/status of any background job and to achieve this website is refreshing the web page 
		every 5 seconds.
		<br />
		<div id="mindset">
		Now the URL given above can be considered as a url of the web page which is depicting the progress/status of the background job.
		</div>
	</div>
</div>