<div id="http3xxStatusCodeBasedInjection">
	<div>
		This level demonstrates the first stage of how an open redirect can be exploited to perform a phishing attack.
		<br /> <br />
		In this scenario, the server does not perform validation on the destination url provided in the returnTo parameter. 
		The browser therefore redirects the user to a fake login page, which then allows malicious actors to obtain user credentials. 
		A link is provided below to illustrate this.
		<br /> <br />
		Please Visit URL: <a id="placeholder" target="_blank"></a>
		<br />
	</div>
</div>