#image {
    font-size: 15px;
    font-weight: normal;
}

#submit {
    background: blueviolet;
    display: inline-block;
    padding: 4px;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 2px;
    transition: 0.2s opacity;
    color: #FFF;
    font-size: 12px;
}

#fonts, #textInput { 
    display: inline-block;
    padding: 4px;
    margin: 10px;
    border: 2px solid;
    border-radius: 2px;
    transition: 0.2s opacity;
    font-size: 12px;
}

.font30px {
    font-size: 30px;
}

.font25px {
    font-size: 25px;
}

.font20px {
    font-size: 20px;
}