<div id="InsecureDeserialization">
	<div>
		<div>
			<div id="challenge"></div>

			<div id="level4Controls">
				<label for="section">Section:</label>
				<select id="section" name="section">
					<option value="Level 1">Level 1</option>
					<option value="Level 2">Level 2</option>
					<option value="Level 3">Level 3</option>
				</select>
				<button id="saveButtonLevel4">Visit section</button>
			</div>

			<button id="checkButton">Check now</button>
			<div id="result"></div>
		</div>
	</div>
</div>
